* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #484646;
    color: white;
}

header {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.grid-block {
    border: 1px solid #b3b5b7;
    padding: 2%;
    padding-left: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    width: 45%;
    min-width: 400px;
    height: 45%;
    min-height: 316px;
    overflow-x: auto;
}

.grid-block-full {
    border: 1px solid #b3b5b7;
    padding: 2%;
    padding-left: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    width: 95%;
    min-width: 400px;
    height: 45%;
    min-height: 316px;
    overflow-x: auto;
}

#router_chart,
#lobby_chart {
    height: 90%;
    width: 90%;
}

#special_chart {
    height: 90%;
    width: 95%;
}